{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='compare.css') }}">
{% endblock %}

{% block main_content %}

<div class="layout">
    <aside class="sidebar">
        <nav>
            <a href="{{ url_for('watches.main') }}">Catalog <i class='bx bxs-watch'></i></a>
            <a href="{{ url_for('buyer.profile') }}">Profile <i class='bx bx-user-circle'></i></a>
            <a href="{{ url_for('buyer.basket') }}">Basket <i class='bx bx-basket'></i></a>
            <a href="{{ url_for('buyer.favourite') }}">Favourite <i class='bx bxs-heart'></i></a>
            <a href="{{ url_for('watches.compare') }}">Compare <i class='bx bx-git-compare'></i></a>
            <a href="{{ url_for('buyer.help_buyer') }}">Help <i class='bx bx-help-circle'></i></a>
            <a href="{{ url_for('buyer.blocked_sellers') }}">Blocked Sellers <i class='bx bx-block'></i></a>
        </nav>
    </aside>

    <main>
        <h1>Compare</h1>

        <table class="compare_table">
            <tr>
                <th>Attribute</th>
                <th>Watch 1</th>
                <th>Watch 2</th>
            </tr>
            {% if watch1 and watch2 %}
            <tr>
                <th>Image</th>
                <td><img src="{{ url_for('watches.serve_image', id=watch1) }}" alt="picture" width="128" height="128">
                </td>
                <td><img src="{{ url_for('watches.serve_image', id=watch2) }}" alt="picture" width="128" height="128">
                </td>
            </tr>
            <tr>
                <th>Price</th>
                {% if watch1_inf['price'] > watch2_inf['price'] %}
                <td>
                    <div class="bad">{{ watch1_inf['price'] }}€</div>
                </td>
                <td>
                    <div class="good">{{ watch2_inf['price'] }}€</div>
                </td>
                {% elif watch1_inf['price'] == watch2_inf['price'] %}
                <td>{{ watch1_inf['price'] }}€</td>
                <td>{{ watch2_inf['price'] }}€</td>
                {% else %}
                <td>
                    <div class="good">{{ watch1_inf['price'] }}€</div>
                </td>
                <td>
                    <div class="bad">{{ watch2_inf['price'] }}€</div>
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ watch1_inf['size'] }} mm</td>
                <td>{{ watch2_inf['size'] }} mm</td>
            </tr>
            <tr>
                <th>Material</th>
                <td>{{ watch1_inf['material'] }}</td>
                <td>{{ watch2_inf['material'] }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                {% if watch1_inf['weight'] > watch2_inf['weight'] %}
                <td>
                    <div class="bad">{{ watch1_inf['weight'] }} grams</div>
                </td>
                <td>
                    <div class="good">{{ watch2_inf['weight'] }} grams</div>
                </td>
                {% elif watch1_inf['weight'] == watch2_inf['weight'] %}
                <td>{{ watch1_inf['weight'] }}</td>
                <td>{{ watch2_inf['weight'] }}</td>
                {% else %}
                <td>
                    <div class="good">{{ watch1_inf['weight'] }} grams</div>
                </td>
                <td>
                    <div class="bad">{{ watch2_inf['weight'] }} grams</div>
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Description</th>
                <!-- '|length' function is taken from: https://stackoverflow.com/questions/1465249/get-lengths-of-a-list-in-a-jinja2-template -->
                {% if watch1_inf['description']|length > watch2_inf['description']|length %}
                <td>
                    <div class="good">{{ watch1_inf['description'] }}</div>
                </td>
                <td>
                    <div class="bad">{{ watch2_inf['description'] }}</div>
                </td>
                {% elif watch1_inf['description']|length == watch2_inf['description']|length %}
                <td>{{ watch1_inf['description'] }}</td>
                <td>{{ watch2_inf['description'] }}</td>
                {% else %}
                <td>
                    <div class="bad">{{ watch1_inf['description'] }}</div>
                </td>
                <td>
                    <div class="good">{{ watch2_inf['description'] }}</div>
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>Quantity</th>
                {% if watch1_inf['quantity'] > watch2_inf['quantity'] %}
                <td>
                    <div class="good">{{ watch1_inf['quantity'] }}</div>
                </td>
                <td>
                    <div class="bad">{{ watch2_inf['quantity'] }}</div>
                </td>
                {% elif watch1_inf['quantity'] == watch2_inf['quantity'] %}
                <td>{{ watch1_inf['quantity'] }}</td>
                <td>{{ watch2_inf['quantity'] }}</td>
                {% else %}
                <td>
                    <div class="bad">{{ watch1_inf['quantity'] }}</div>
                </td>
                <td>
                    <div class="good">{{ watch2_inf['quantity'] }}</div>
                </td>
                {% endif %}
            </tr>
            <tr>
                <th rowspan="2">Actions</th>
                <td><a class="action" href="{{ url_for('buyer.add_to_basket', watch_id=watch1) }}">Add to Basket</a></td>
                <td><a class="action" href="{{ url_for('buyer.add_to_basket', watch_id=watch2) }}">Add to Basket</a></td>
            </tr>
            <tr>
                <td><a class="action" href="{{ url_for('buyer.add_to_favourite', watch_id=watch1) }}">Add to Favourite</a>
                </td>
                <td><a class="action" href="{{ url_for('buyer.add_to_favourite', watch_id=watch2) }}">Add to Favourite</a>
                </td>
            </tr>
            {% elif watch1 or watch2 %}
            <tr>
                <td colspan="3"><a class="action" href="{{ url_for('watches.main') }}">You have only one watch to
                        compare</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3"><a class="action" href="{{ url_for('watches.main') }}">Add watch to compare</a></td>
            </tr>
            {% endif %}
        </table>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit() }}
        </form>
    </main>
</div>

<footer>
    <p>&copy; All rights reserved</p>
</footer>

{% endblock %}