{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<title>{{ title }}</title>
{% endblock %}

{% block main_content %}

<!-- code taken from here -->
<!-- https://flask.palletsprojects.com/en/stable/patterns/flashing/ -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert">
    {% for message in messages %}
    <p>{{ message }}!</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="layout">
    <aside class="sidebar">
        <nav>
            <a href="{{ url_for('watches.main') }}">Catalog<i class='bx bxs-watch'></i></a>
            <a href="{{ url_for('profile') }}">Profile<i class='bx bx-user-circle'></i></a>
            <a href="{{ url_for('basket') }}">Basket<i class='bx bx-basket'></i></a>
            <a href="{{ url_for('favourite') }}">Favourite<i class='bx bxs-heart'></i></a>
            <a href="{{ url_for('compare') }}">Compare<i class='bx bx-git-compare'></i></a>
            <a href="{{ url_for('help_buyer') }}">Help<i class='bx bx-help-circle'></i></a>
            <a href="{{ url_for('blocked_sellers') }}">Blocked Sellers<i class='bx bx-block'></i> </a>
        </nav>
    </aside>


    <main>

        {% if watches %}
        <div class="watch_grid">
            {% for watch in watches %}
            <div class="watch_card">
                <a href="{{ url_for('watches.watch', watch_id=watch['watch_id']) }}">
                    <img src="{{ url_for('watches.serve_image', id=watch['watch_id']) }}" alt="watch image" class="watch_img">
                </a>
                <div class="watch_details">
                    <h3 class="watch_title"><a
                            href="{{ url_for('watches.watch', watch_id=watch['watch_id'] )}}">{{watch['title']}}</a></h3>
                    <p class="price">{{ watch['price'] }}€</p>
                    <p class="quantity">Quantity: {{ watch['quantity'] }}</p>
                    <p class="seller">
                        <a href="{{ url_for('seller_profile', user_id=watch['user_id']) }}">Seller: {{ watch['user_id']
                            }}</a>
                    </p>
                    <div class="link_group">
                        <a href="{{ url_for('add_to_basket', watch_id=watch['watch_id']) }}" class="btn">Add to
                            Basket</a>
                        <a href="{{ url_for('add_to_favourite', watch_id=watch['watch_id']) }}" class="btn">Add to
                            Favourite</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="message">Nothing is available right now 😥</p>
        {% endif %}
    </main>

    <aside class="filter">
        <h2>Filter</h2>
        <form action="" method="post" class="filter_form">
            {{ form.hidden_tag() }}

            <div class="form_group">
                {{ form.watch.label }}
                {{ form.watch() }}
                {% for error in form.watch.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form_group">
                {{ form.min_price.label }}
                {{ form.min_price() }}
                {% for error in form.min_price.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form_group">
                {{ form.max_price.label }}
                {{ form.max_price() }}
                {% for error in form.max_price.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form_group">
                {{ form.sort.label }}
                {{ form.sort() }}
            </div>

            {{ form.submit() }}
        </form>
    </aside>
</div>

<footer>
    <p>&copy; All rights reserved</p>
</footer>
{% endblock %}